[Unit]
Description=loggedfs web frontend

[Service]
WorkingDirectory=/home/sandric/loggedfs-web/
ExecStart=/usr/bin/node server.js
ExecStopPost=fusermount -zu /home
