.item, .item_red, .item_raw {
  margin: 10px;
  margin-left: 30px;
  padding: 5px;

  font-family: monospace;

  animation: fadein 2s;
  -moz-animation: fadein 2s; /* Firefox */
  -webkit-animation: fadein 2s; /* Safari and Chrome */
  -o-animation: fadein 2s; /* Opera */
}

@keyframes fadein {
    from {
        opacity:0;
        background-color: #e5b5c4;
    }
    to {
        opacity:1;
    }
}
@-moz-keyframes fadein { /* Firefox */
    from {
        opacity:0;
        background-color: #e5b5c4;
    }
    to {
        opacity:1;
    }
}
@-webkit-keyframes fadein { /* Safari and Chrome */
    from {
        opacity:0;
        background-color: #e5b5c4;
    }
    to {
        opacity:1;
    }
}
@-o-keyframes fadein { /* Opera */
    from {
        opacity:0;
        background-color: #e5b5c4; 
    }
    to {
        opacity: 1;
    }
}

.item > *, .item_red > * {
  display: inline;
  padding-right: 10px;
}

.item_red {
  background-color: #f9a4a4;
}

.item_raw {
  background-color: #baddda;
}

.attempt {
  font-weight: bold;
}

.action_open {
  color: #d9dba0;
}

.action_read {
  color: green;
}

.action_write {
  color: red;
}

.action_rename {
  color: #7acff9;
}
